html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  letter-spacing: 1px;
  border: none;
}

.container {
  width: 70%;
  margin: auto;
}

img {
  object-fit: cover;
}

$mainorangecolor: #e44d3a;
$facebookcolor: #3b5999;
$buttoncolor: #53d690;

nav {
  background-color: $mainorangecolor;
  width: 100%;
  height: 70px;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    .logo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: auto 5px auto 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      color: $mainorangecolor;
      background-color: rgb(240, 240, 240);
      font-size: 1.3cm;
      font-weight: bold;
      font-family: "Raleway", sans-serif;
    }
    .input-box {
      display: flex;
      align-items: center;
      margin-left: -60px;
      .search {
        width: 180px;
        height: 35px;
        border: none;
        text-indent: 8px;
        font-size: 16px;
        border-radius: 4px 0 0 4px;
      }
      .search-btn {
        height: 35px;
        width: 40px;
        font-size: 17px;
        border-radius: 0 4px 4px 0;
        i {
          color: $mainorangecolor;
        }
      }
    }
    .navs_avatar {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      a {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 8px;
        transition-duration: 0.3s;

        &:hover {
          color: rgb(204, 204, 204);
        }
        i {
          margin-bottom: 4px;
        }
      }
      .avatar-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        margin-left: 20px;
        width: 150px;
        padding: 4px 8px 4px 8px;
        transition-duration: 0.3s;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}

.header {
  width: 100vw;
  height: 380px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-wrapper {
  display: flex;
  .side-bar {
    width: 22%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
}

.sidebar-top {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: -140px;
  .face {
    font-size: 4.5cm;
    font-weight: bold;
    color: $facebookcolor;
    background-color: #fff;
    width: fit-content;
    border-radius: 50%;
    margin: 50px auto;
    border: 6px solid #fff;
  }
  .follow-btn {
    width: 120px;
    height: 40px;
    background-color: $buttoncolor;
    color: white;
    font-size: 18px;
    margin: 15px auto 25px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition-duration: 0.2s;
    border-radius: 4px;
    &:hover {
      background-color: #00cc5f;
    }
    span {
      font-size: 30px;
    }
  }
  .follows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    .following {
      display: flex;
      flex-direction: column;
      .text {
        font-size: 17px;
        font-weight: bold;
        color: #8f939f;
        margin: 0;
      }
      .number {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .links-box {
    text-align: left;
    .link {
      display: flex;
      padding: 13px 10px;
      border-top: 2px solid #f7f7f7;
      border-bottom: 1px solid #f7f7f7;
      i {
        margin-right: 12px;
        font-size: 18px;
      }
    }
  }
}

.side-bar-bottom {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  border-top: 30px solid #f7f7f7;
  text-align: center;
  padding: 20px 10px 20px 15px;
  color: #444;
  .suggestions-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    i {
      cursor: pointer;
      margin-left: auto;
    }
  }
  .suggestions-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 3px solid #f7f7f7;
    .suggestion {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 12px 0;
      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 12px;
      }
      .texts {
        display: flex;
        flex-direction: column;
        text-align-last: left;
        .name {
          font-size: 16px;
          margin: 0;
          margin-bottom: 4px;
          font-size: 15px;
          font-weight: bold;
          color: #444;
        }
        .job {
          color: #777;
          font-weight: bold;
          font-size: 14px;
          margin: 0;
        }
      }

      .add {
        color: #d1d1d1;
        font-size: 23px;
        font-weight: bold;
        width: 30px;
        height: 30px;
        border: 2px solid #d1d1d1;
        background-color: #fff;
        margin-left: auto;
        transition-duration: 0.3s;
        &:hover {
          color: #b1b1b1;
          border: 2px solid #b1b1b1;
        }
      }
    }
  }
  .view {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: $mainorangecolor;
    margin-top: 50px;
    transition-duration: 0.3s;
    &:hover {
      color: #bd1e08;
    }
  }
}

.center-wrapper {
  width: 50%;
  padding: 40px 25px 0 25px;
  .title-box {
    .title {
      font-size: 1.4em;
      font-weight: bold;
      letter-spacing: 1px;
    }
    .subtitle {
      font-size: 18px;
      font-weight: bold;
      color: grey;
      display: flex;
      .starts {
        display: flex;
        margin-left: 24px;
        i {
          margin-right: 7px;
          font-size: 16px;
          color: rgb(199, 199, 0);
        }
      }
    }
    .feed-box {
      display: flex;
      margin-top: 20px;
      .feed {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        font-size: 17px;
        color: grey;
        transition-duration: 0.3s;
        &:hover {
          color: $mainorangecolor;
        }
        i {
          margin-bottom: 5px;
          font-size: 20px;
        }
      }
    }
  }

  .cards-box {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    .card {
      width: 100%;
      height: 400px;
      background-color: #fff;
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 30px;
      .card-title-box {
        display: flex;
        width: 100%;
        align-items: center;
        .facebook-card-icon {
          font-size: 3em;
          font-weight: bold;
          color: $facebookcolor;
          margin-right: 25px;
        }
        .title-text {
          .title {
            font-size: 19px;
            margin: 0;
          }
          .time {
            margin: 0;
            margin-top: 10px;
            font-weight: bold;
            color: grey;
            font-size: 16px;
            i {
              font-size: 17px;
              margin-right: 10px;
            }
          }
        }
        .title-menu {
          margin-left: auto;
          font-size: 20px;
        }
      }
      .epic-box {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 13px;
        color: grey;
        margin: 10px 0 6px 0;
        i {
          margin: 0 5px 0 12px;
          color: rgb(5, 153, 202);
        }
        .zakladki {
          display: flex;
          margin-left: auto;
          button {
            width: 30px;
            height: 30px;
            margin-left: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 4px;
            font-weight: bold;
            i {
              margin: auto;
              color: white;
              font-size: 16px;
            }
          }
        }
      }

      .card-main-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        .title {
          font-size: 16px;
          font-weight: bold;
          margin: 0;
        }
        .time-box {
          display: flex;
          align-items: center;
          margin-top: 10px;
          font-size: 17px;
          font-weight: bold;
          color: grey;
          button {
            width: 80px;
            height: 25px;
            color: white;
            background-color: #15aabf;
            margin-right: 30px;
          }
        }
        .lorem {
          font-size: 15px;
          color: grey;
          line-height: 30px;
        }
        .more {
          margin: 0;
          color: red;
          font-size: 15px;
          font-weight: bold;
        }
        .cources {
          margin-top: 25px;
          display: flex;
          span {
            width: fit-content;
            height: 30px;
            padding: 5px 8px;
            color: grey;
            background-color: rgb(196, 196, 196);
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 12px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

.right-side-box {
  width: 25%;
  margin-left: auto;
  padding-top: 50px;
  .message {
    width: 110px;
    height: 35px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    border-radius: 4px;
    i {
      margin-right: 5px;
    }
  }
  .portfolio-box {
    width: 100%;
    background-color: #fff;
    padding: 20px 10px 20px 10px;
    margin-top: 20px;
    .portfolio-nav {
      display: flex;
      justify-content: space-between;
      font-size: 17px;
      font-weight: bold;
      background-color: #fff;
      border-bottom: 2px solid grey;
      padding-bottom: 10px;
    }
    .portfolio-main-body {
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 14px;
      img {
        width: 75px;
        height: 70px;
        margin-bottom: 10px;
        object-fit: cover;
      }
    }
  }
}
